{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container" style="padding: 2rem;">
    <h2 style="font-size: 2rem; margin-bottom: 1.5rem;">Makinat Economy</h2>

    {% if luxury_cars %}
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 1.5rem;">
        {% for car in luxury_cars %}
        <div style="border: 1px solid #ddd; border-radius: 12px; padding: 1rem;">
            <h3 style="margin-bottom: 0.5rem;">{{ car.name }}</h3>
            {% if car.description %}
            <img src="{{ car.image.url }}" class="card-img-top" alt="...">
            <p style="color: #666;">{{ car.description }}</p>
            {% endif %}
            <a href="{% url 'detailpage' car.pk %}"
                style="display: inline-block; margin-top: 1rem; padding: 0.5rem 1rem; background-color: #5d575a; color: white; border-radius: 8px; text-decoration: none;">Shiko
                më shumë</a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Nuk ka makina luxury për momentin.</p>
    {% endif %}
</div>
{% endblock %}